@media screen and (max-width: 768px) {

    body {
        background-color: rgb(150, 130, 236);
    }

    nav {
        margin: 0;
        padding: 0;
        width: auto;
        background-color: cornflowerblue;
    }

    nav a {
        display: block;
        padding: 8px 16px;
        color: white;
        text-align: center;
        text-decoration: none;
        border-right: 1px solid;

    }

    nav a:hover {
        background-color: blue;
    }

    .active {
        background-color: darkturquoise;
    }

    ul {
        margin: 0;
        padding: 0;
        width: auto;
        background-color: rgb(127, 243, 243);
    }

    li a {
        display: block;
        padding: 8px;
        color: rgb(0, 0, 0);
        text-align: center;
        text-decoration: none;
        border-right: 1px solid;
    }

    li a:hover {
        background-color: rgb(35, 104, 232);
    }

    img {
        width: 100%;
        height: auto;
    }

    .contenedor {
        border-radius: 5px;
        background-color: #f2f2f2;
        padding: 20px;
    }

    .col-25,
    .col-75,
    input[type=submit],
    input[type=reset] {
        width: 100%;
        margin-top: 0;
    }

    section div.galeria {
        margin: 5px;
        border: 1px solid #ccc;
        float: left;
        width: 100%;
    }

    section div.galeria:hover {
        border: 1px solid #777;
    }

    section div.galeria img {
        width: 100%;
        height: auto;
    }

    section div.desc {
        padding: 15px;
        text-align: center;
    }

    section div.galeria video {
        width: 100%;
        height: auto;
    }

    #desc-mapa {
        padding: 15px;
        text-align: center;
        border: 1px solid #777;
    }

    input[type=text], select, textarea {
        width: 100%;
        padding: 12px;
        border: 1px solid #ccc;
        border-radius: 4px;
        resize: vertical;
    }
    
    input[type=email] {
        width: 100%;
        padding: 12px;
        border: 1px solid #ccc;
        border-radius: 4px;
        resize: vertical;
    }
    
    input[type=tel] {
        width: 100%;
        padding: 12px;
        border: 1px solid #ccc;
        border-radius: 4px;
        resize: vertical;
    }
    
    input[type=date] {
        width: 100%;
        padding: 12px;
        border: 1px solid #ccc;
        border-radius: 4px;
        resize: vertical;
    }
    
    label {
        padding: 12px 12px 12px 0;
        display: inline-block;
    }
    
    
    input[type=submit] {
        background-color: #4CAF50;
        color: white;
        padding: 12px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        float: right;
        margin-top: 6px;
      }
      
      input[type=submit]:hover {
        background-color: #45a049;
      }
    
      input[type=reset] {
        background-color: gray;
        color: white;
        padding: 12px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        float: right;
        margin-top: 6px;
      }
      
      input[type=reset]:hover {
        background-color: rgba(211, 211, 211, 0.076);

      }

    footer {
        background-color: darkgray;
        padding: 10px;
        margin-top: 20px;
    }

    .row:after {
        content: "";
        display: table;
        clear: both;
      }
}